#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

#floorplan {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

div {
  border: 1px solid grey;
  margin: 5px;
  padding: 5px;
}

.bedroom {
  background-color: rgb(27, 182, 243);
}

.bath {
  background-color: rgb(100, 158, 14);
}

.span-2 {
  grid-column: span 4;
  grid-row: span 4;

}

.span-3x2 {
  grid-column: span 4;
  grid-row: span 6;
  background-color: brown;
}

#kitchen {
  grid-row: span 6;
  grid-column: span 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr); 

}

#kitchen > div {
  background-color: orange;
}

#Full {
  grid-column: span 4;
  grid-row: span 2;
}

#Half {
  grid-column: span 2;
  grid-row: span 4;
}



